<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Google Font: Inknut Aniqua -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!--css file-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>The Snake Game</title>
</head>
<body class="bg-custom-green flex justify-center items-center h-screen font-serif">
    <div class="flex flex-col justify-center items-center text-custom-black">
        <h1 class="text-5xl mb-12">Welcome to the snake game</h1>
        <img src="/images/snake-logo.svg" alt="Upside down image of a snake">
        <p class="text-3xl mt-12">Press the spacebar to start the game</p>
    </div>

    <!--Javascript file-->
    <script src="/js/welcome.js"></script>
</body>
</html>